@{
    Layout = "_Layout";
}
<div class="container pt-4">
    <div class="row">
        <div class="col-12 text-center">
            <h1><span class="fa fa-warning fa-3x text-danger"></span></h1>
            <h1 class="text-danger" style="font-size:120px">404 </h1>
            <h2 class="p-3">
                The page you were looking for could not be found
            </h2>
            <a href="@Url.Action("Index","Home")" class="btn btn-warning btn-lg">
                <strong>Back to home page</strong>
            </a>
        </div>
    </div>
</div>
